<!DOCTYPE html>

<section class="jumbotron bg-secondary p-3 my-3">
  <h1>SERVIÇOS</h1>
  <p>Teste sobre serviços</p>

  <section style="display: flex;justify-content: space-between;">
    <section>
      <a href="{{URL}}"><button class="btn btn-light">HOME</button></a>
      <a href="{{URL}}/about"><button class="btn btn-light">SOBRE</button></a>
      <a href="{{URL}}/items"
        ><button class="btn btn-light">SERVIÇOS</button></a
      >
    </section>
    <a href="{{URL}}/admin"><button class="btn btn-primary">Admin</button></a>
  </section>
</section>
