<!DOCTYPE html>

<h1>Início - {{name}}</h1>
<hr />

<p>
  Uma das grandes vantagens do governo digital é possuir dados cadastrais
  completos e atualizados das pessoas físicas e jurídicas. <br /><br />

  A plataforma <strong>Cidade Inteligente</strong> vai além dos nomes e
  endereços, pois cria o Prontuário Único que oferece informações sobre cidadãos
  e empresas com os bens que possuem, o que consomem de serviços públicos, sua
  situação fiscal, programas do governo que utilizam e mais.<br /><br />

  Ainda: o cidadão entende como o governo o identifica, já que o portal e app
  personalizados permitem acesso do usuário ao próprio perfil, de maneira
  segura, possibilitando a correção de dados e a visualização dos serviços e
  benefícios que ele usufrui.<br /><br />

  Com essa transformação digital, é possível elaborar políticas públicas mais
  eficientes, evitar fraudes, melhorar a arrecadação e entregar à população uma
  estrutura ideal de desenvolvimento social e econômico.!
</p>

<p>
  <h3>Ofereça em um só lugar todos os serviços que as pessoas precisam</h3> O portal
  <strong>Cidade Inteligente</strong> quebra a barreira da burocracia e economiza tempo porque organiza os serviços públicos digitais por categorias como manutenção de espaços públicos, educação, saúde e outros. É inovador por ser totalmente diferente dos modelos atuais que obrigam o cidadão a procurar os serviços por secretaria <br><br> 
  Cidadãos podem agendar consultas médicas e exames, matricular os
  filhos na escola, solicitar reparos em equipamentos públicos e sugerir
  melhorias nos serviços do governo. Já os contribuintes podem solicitar
  documentos para abertura de empresas, emitir notas fiscais de serviços
  eletrônicas e regularizar dívidas.
</p>

<a href="https://www.eicon.com.br/cidadeinteligente/index.html" target="_blank">https://www.eicon.com.br/cidadeinteligente/index.html</a>
